<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="browser" value="chrome"/>
  <parameter name="version" value="88.0"/>
  <parameter name="platform" value="WIN10"/>
<listeners>	
<listener class-name="TPOS.LOGIN.Listener"/>
</listeners>
 <test name="Validating Bill of Delivery">
  
   <classes>
      
      <class name="SalesPage_ThemHD.Themkhachhang()"></class>
      <class name="TPOS.SALES.BillofDelivery"></class>
      
   </classes>
   
      </test>
   <!-- Test -->
</suite> <!-- Suite -->
                           